body {
    background-color: #3c939b; 
    padding: 0;
    margin: 0;
    overflow: hidden;
}

h1{
    font-size: 250%;
    color: red;
    text-align: center;
}

#container{
    position: absolute;
    width: 100vw;
    height: 80vh;
    /*
    border-style: solid;
    border-width: 3px;
    border-color: rgb(110, 221, 110);*/
}

img{
    position: absolute;
    width: 45vw;
    margin-left: 27vw;
    border-radius: 2%;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    user-select: none;
}

#butoes{
    top: 30%;
    left: 35%;
    position: absolute;
    width: 30vw;
    height: 80vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    /*border-style: solid;
    border-width: 3px;
    border-color: blue;*/
}

.butao{
    background-color: white;
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 2/1;
    width: 10vw;
    border-style: solid;
    border-width: 3px;
    border-color: red;
    user-select: none;
}
